/* The emerging W3C standard
   that is currently Firefox-only */
body{
  text-align: center;
}

#someheight{
  height: 1000px;
}

#videoscreen{
  border: none;
}

.fixed_navbar{
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#set-height {
    display: block;
}

#test{
  height: 6000px;
}

